*.dll
Library/
obj/
ProjectSettings/
Temp/
*.meta
*.sln
*.suo
*.csproj
*.unityproj
*.mp3
Assets/NGUI/
Assets/_IMAGE_RESOURCES/
Assets/_GameFramework/
Assets/Cartoon FX/
Assets/Fish-Project/
Assets/Gizmos/
Assets/IconPrefabs/
Assets/IGSoft_Resources/
Assets/iTweenEditor/
Assets/Model/
Assets/Plugins/
Assets/Prefabs/
Assets/SAMPLE-SCENE/
Assets/Shaders/
Assets/CoralForest_SeaweedValley/
..png
*.wav
